In [1]:
import pandas as pd
import ast

In [2]:
# aspect keywords
attraction = ['templ', 'borobudur', 'buddhist', 'stupa', 'monument', 'relief', 'buddha', 'architectur', 'statue', 'carv', 'sculptur']
amenities = ['hotel', 'restaurant', 'transport', 'toilet', 'facilit', 'market', 'shop', 'water', 'coffe', 'booth', 'souvenir', 'food', 'chair', 'breakfast', 'room', 'cafe', 'restroom', 'lobbi', 'drink', 'bathroom']
accessibility = ['transport', 'road', 'airport', 'driver', 'bus', 'car', 'train', 'vehicl', 'taxi', 'access', 'station', 'rail', 'scooter']
image = ['beauti', 'amaz', 'nice', 'magnific', 'wonder', 'view', 'natur', 'stun', 'uniqu', 'sceneri', 'atmospher', 'landscap', 'impress', 'spectacular', 'charm']
price = ['price', 'cost', 'fee', 'expens', 'idr', 'cheap', 'dollar', 'ticket', 'free', 'discount', 'money', 'rp', 'usd', 'rupiah', 'sold', 'pay', 'euro', 'prici', 'cheapest']
human_resources = ['guid', 'peopl', 'local', 'servic', 'staff', 'tourist', 'visitor', 'seller', 'offic', 'worker', 'driver']

In [4]:
df = pd.read_csv('cleaned_review.csv')
# drop columns
df.drop(columns=['text_clean', 'text_cf', 'text_token', 'text_stopword'], inplace=True)
df.head()

,text,text_stem
0,We came to Borobudur Temple accompanied by our...,"['came', 'borobudur', 'templ', 'accompani', 'd..."
1,Good place for Buddhist pilgrimage place. The ...,"['good', 'place', 'buddhist', 'pilgrimag', 'pl..."
2,Fantastic experience as it was super well orga...,"['fantast', 'experi', 'super', 'well', 'organi..."
3,"It is a beautiful temple, in a beautiful setti...","['beauti', 'templ', 'beauti', 'set', 'go', 'ma..."
4,Went Borobudur before pandemic and was surpris...,"['went', 'borobudur', 'pandem', 'surpris', 'ch..."

In [5]:
def str_to_list(text):
    return ast.literal_eval(text)

# Apply the function to convert all rows in 'text_stem' column
df['text_stem'] = df['text_stem'].apply(str_to_list)

In [6]:
# create columns
df['attraction'] = 0
df['amenities'] = 0
df['accessibility'] = 0
df['image'] = 0
df['price'] = 0
df['human_resources'] = 0
df.head()

,text,text_stem,attraction,amenities,accessibility,image,price,human_resources
0,We came to Borobudur Temple accompanied by our...,"[came, borobudur, templ, accompani, driver, yo...",0,0,0,0,0,0
1,Good place for Buddhist pilgrimage place. The ...,"[good, place, buddhist, pilgrimag, place, tick...",0,0,0,0,0,0
2,Fantastic experience as it was super well orga...,"[fantast, experi, super, well, organis, organi...",0,0,0,0,0,0
3,"It is a beautiful temple, in a beautiful setti...","[beauti, templ, beauti, set, go, make, sure, p...",0,0,0,0,0,0
4,Went Borobudur before pandemic and was surpris...,"[went, borobudur, pandem, surpris, chang, rule...",0,0,0,0,0,0

In [7]:
# check if each row contains the aspect keywords in text_stem
for i in range(len(df)):
    for word in df['text_stem'][i]:
        if word in attraction:
            df['attraction'][i] = 1
        if word in amenities:
            df['amenities'][i] = 1
        if word in accessibility:
            df['accessibility'][i] = 1
        if word in image:
            df['image'][i] = 1
        if word in price:
            df['price'][i] = 1
        if word in human_resources:
            df['human_resources'][i] = 1

C:\Users\nadhi\AppData\Local\Temp\ipykernel_27528\4007511736.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['attraction'][i] = 1
C:\Users\nadhi\AppData\Local\Temp\ipykernel_27528\4007511736.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['accessibility'][i] = 1
C:\Users\nadhi\AppData\Local\Temp\ipykernel_27528\4007511736.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['human_resources'][i] = 1
C:\Users\nadhi\AppData\Local\Temp\ipykernel_27528\4007511736.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'][i] = 1
C:\Users\nadhi\AppData\Local\Temp\ipykernel_27528\4007511736.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['image'][i] = 1
C:\Users\nadhi\AppData\Local\Temp\ipykernel_27528\4007511736.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['amenities'][i] = 1

In [8]:
df['attraction'].value_counts()

1    3517
0     629
Name: attraction, dtype: int64

In [9]:
df['amenities'].value_counts()

0    2790
1    1356
Name: amenities, dtype: int64

In [10]:
df['accessibility'].value_counts()

0    3431
1     715
Name: accessibility, dtype: int64

In [11]:
df['image'].value_counts()

1    2947
0    1199
Name: image, dtype: int64

In [12]:
df['price'].value_counts()

0    2510
1    1636
Name: price, dtype: int64

In [13]:
df['human_resources'].value_counts()

1    2431
0    1715
Name: human_resources, dtype: int64

In [14]:
# save to csv
df.to_csv('dataset/aspect_labelled.csv', index=False)

In [117]:
# show df['text'] and the aspects
df[['text', 'attraction', 'amenities', 'accessibility', 'image', 'price', 'human_resources']].head(10)

,text,attraction,amenities,accessibility,image,price,human_resources
0,We came to Borobudur Temple accompanied by our...,1,0,1,0,1,1
1,Good place for Buddhist pilgrimage place. The ...,1,0,1,0,1,0
2,Fantastic experience as it was super well orga...,0,0,1,0,0,1
3,"It is a beautiful temple, in a beautiful setti...",1,1,0,1,1,0
4,Went Borobudur before pandemic and was surpris...,1,1,1,1,1,1
5,My wife and I recent visited Borobudur. We had...,1,1,1,0,1,1
6,The opening hours of Borobodur have recently c...,1,1,1,1,1,1
7,"Whilst the temple is amazing, the entry price ...",1,1,1,1,1,0
8,"Borobudur, located in Magelang, Central Java, ...",1,0,1,1,0,1
9,Ancient Borobudur Temple is massive; it's the ...,1,0,0,0,0,0